<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="AcePlayerPath" value="C:\Users\dron\AppData\Roaming\ACEStream\player\ace_player.exe"/>
    <add key="AceContentIdList" value="http://65ec2aa73968.iptvpro.ru/playlists/uplist/88b4e0a191d453cbf64dba26e21ccb48/edem_pl.m3u8"/>
    <add key="UseVLC" value="true"/>
    <add key="AcePort" value="6878"/>
    <add key="VLCPath" value="C:\Program Files\VideoLAN\VLC\vlc.exe"/>
    <add key="AceEnginePath" value="C:\Users\dron\AppData\Roaming\ACEStream\engine\ace_engine.exe"/>
    <add key="FileName" value="playlist.m3u"/>
    <add key="ScreenNumber" value="1"/>
    <add key="UseEdem" value="true"/>
  </appSettings>
</configuration>