<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <connectionStrings>
    <!--Local-->
    <!--<add name="eSrvNew" connectionString="Data Source=ESSQL01;Initial Catalog=eSrv_Valdis;Integrated Security=True;Connect Timeout=10;Encrypt=False;Network Library=dbmssocn;Application Name=eSrvApp" providerName="System.Data.SqlClient" />-->

    <!-- ASM TEXT-->
    <add name="eSrvNew" connectionString="Data Source=ESSQL01;Initial Catalog=eSrv_Assm;Integrated Security=True;Connect Timeout=10;Encrypt=False;Network Library=dbmssocn;Application Name=eSrvApp" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>
