/AceRemoteControl/.vs
/AceRemoteControl/AceRemoteControl/*.user
/AceRemoteControl/AceRemoteControl/bin
/AceRemoteControl/AceRemoteControl/obj
/AceRemoteControl/packages
/FileTransliter/.vs
/FileTransliter/FileTransliter/bin
/FileTransliter/FileTransliter/obj
/IPUpdater/packages
/IPUpdater/.vs
/IPUpdater/IPUpdater/bin
/IPUpdater/IPUpdater/obj
/Tools/.vs
/Tools/Tools/bin
/Tools/Tools/obj
/Tools/TorrentTVService/obj
/Tools/TorrentTVService/bin
/Tools/packages
/AutoShutDown/packages
/AutoShutDown/AutoShutDown/bin
/AutoShutDown/AutoShutDown/obj
/AutoShutDown/.vs
/BreakingBet/.vs
/BreakingBet/packages
/BreakingBet/BreakingBet/bin
/BreakingBet/BreakingBet/obj
/DljaOlesi/.vs
/DljaOlesi/DljaOlesi/bin
/DljaOlesi/DljaOlesi/obj
/DljaOlesi/DljaOlesi/*.user
