/AceRemoteControl/.vs
/AceRemoteControl/AceRemoteControl/*.user
/AceRemoteControl/AceRemoteControl/bin
/AceRemoteControl/AceRemoteControl/obj
/AceRemoteControl/packages
/FileTransliter/.vs
/FileTransliter/FileTransliter/bin
/FileTransliter/FileTransliter/obj
/IPUpdater/packages
/IPUpdater/.vs
/IPUpdater/IPUpdater/bin
/IPUpdater/IPUpdater/obj
