<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netMsmqBinding>
                <binding name="IntegrationCommonServiceQueue">
                    <security mode="None" />
                </binding>
            </netMsmqBinding>
        </bindings>
        <client>
            <endpoint address="net.msmq://localhost/private/IntegrationCommonService/Service.svc"
                binding="netMsmqBinding" bindingConfiguration="IntegrationCommonServiceQueue"
                contract="IntegrationCommon.IIntegrationCommonService" name="IntegrationCommonServiceQueue" />
        </client>
    </system.serviceModel>
</configuration>