<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="TargetDir" value="C:\xml"/>
    <add key="FileName" value="playlist.m3u"/>
    <add key="SourceUrl" value="http://192.168.0.124:8081/?cmd=playlist&amp;type=m3u"/>
    <add key="Channels" value=""/>
    
  </appSettings>
</configuration>