  <!--Fill the application-->
<div class="row">
    <div class="col-sm-8">
        <div class="col-sm-1 circle">2</div>
        <div class="col-sm-7">
            <h2>@T("Fill the application")</h2>
            <h4>@T("Enter in all your correct information and add supplemental documents")</h4>

            <div class="column-float">
                @T("Enter in all the correct information required. You " +
                "will be able to attach supplemental documents to" +
                "help support your application. Please be aware that ading supplemental documents will also" +
                "increase the time required to process your application.")
            </div>
        </div>
    </div>
</div>
