<!--Right text-->
<div class="col-sm-3 col-sm-offset-1 div-margins">
    <div>
        <img src="@Url.Content("~/Static/images/migri_banner.png")" class="img-responsive migri-banner" alt="image">
    </div>

    <div>
        @T("For more information about " +
                        "working in Finland, please visit " +
                        "the Finnish Immigration Service " +
                        "Affairs website.")
    </div>
</div>
