/*Migri global variables  contains colors / margins..... etc*/
/* Color definitions according to design */
table.form-progress-table {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}
table.form-progress-table .circle-row {
  height: 22px;
  color: white;
}
table.form-progress-table td {
  text-align: center;
}
table.form-progress-table .circle-td {
  width: 32px;
}
table.form-progress-table .progress-title {
  /*font-size: 16px;*/
  vertical-align: top;
  line-height: 100%;
}
.progress-circle {
  width: 32px;
  height: 32px;
  display: inline-block;
  text-align: center;
  background-color: #d9d9d9;
}
.progress-circle .progress-number {
  display: table;
  width: 100%;
  height: 100%;
}
.progress-circle .number {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}
.progress-circle.green {
  background-color: #90e600;
}
@media (min-width: 480px) {
  table.form-progress-table .circle-row {
    height: 42px;
  }
  table.form-progress-table .circle-td {
    width: 42px;
  }
  table.form-progress-table .progress-title {
    /*font-size: 18px;*/
  }
  .progress-circle {
    width: 42px;
    height: 42px;
  }
  .progress-circle .number {
    font-size: 30px;
  }
}
@media (min-width: 768px) {
  table.form-progress-table .circle-row {
    height: 62px;
  }
  table.form-progress-table .circle-td {
    width: 62px;
  }
  table.form-progress-table .progress-title {
    /*font-size: 20px;*/
  }
  .progress-circle {
    width: 62px;
    height: 62px;
  }
  .progress-circle .number {
    font-size: 40px;
  }
}
@media (min-width: 1024px) {
  table.form-progress-table .circle-row {
    height: 82px;
  }
  table.form-progress-table .circle-td {
    width: 82px;
  }
  table.form-progress-table .progress-title {
    /*font-size: 22px;*/
  }
  .progress-circle {
    width: 82px;
    height: 82px;
  }
  .progress-circle .number {
    font-size: 48px;
  }
}
@media (min-width: 1200px) {
  table.form-progress-table .circle-row {
    height: 102px;
  }
  table.form-progress-table .circle-td {
    width: 102px;
  }
  table.form-progress-table .progress-title {
    /*font-size: 24px;*/
  }
  .progress-circle {
    width: 102px;
    height: 102px;
  }
  .progress-circle .number {
    font-size: 56px;
  }
}
