<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="CommonServicesEndPoint">
                    <security mode="None" />
                </binding>
                <binding name="CustomerRegistryEndPoint">
                    <security mode="None" />
                </binding>
                <binding name="CaseManagementEndPoint">
                    <security mode="None" />
                </binding>
                <binding name="BaseRegistryEndPoint">
                    <security mode="None" />
                </binding>
                <binding name="FileEndPoint" transferMode="Streamed">
                    <security mode="None" />
                </binding>
                <binding name="MaintenanceServiceEndPoint">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="HttpFileEndPoint" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://extdevwsriga56.dev.uma.gov/CommonServices/Service.svc"
                binding="netTcpBinding" bindingConfiguration="CommonServicesEndPoint"
                contract="UmaServices.ICommonServices" name="CommonServicesEndPoint" />
            <endpoint address="net.tcp://extdevwsriga56.dev.uma.gov/CustomerRegistry/Service.svc"
                binding="netTcpBinding" bindingConfiguration="CustomerRegistryEndPoint"
                contract="UmaServices.ICustomerRegistryService" name="CustomerRegistryEndPoint" />
            <endpoint address="net.tcp://extdevwsriga56.dev.uma.gov/CaseManagement/Service.svc"
                binding="netTcpBinding" bindingConfiguration="CaseManagementEndPoint"
                contract="UmaServices.ICaseManagementService" name="CaseManagementEndPoint" />
            <endpoint address="net.tcp://extdevwsriga56.dev.uma.gov/BaseRegistry/Service.svc"
                binding="netTcpBinding" bindingConfiguration="BaseRegistryEndPoint"
                contract="UmaServices.IBaseRegistryService" name="BaseRegistryEndPoint" />
            <endpoint address="net.tcp://extdevwsriga56.dev.uma.gov/FileService/Service.svc"
                binding="netTcpBinding" bindingConfiguration="FileEndPoint"
                contract="UmaServices.IFileService" name="FileEndPoint" />
            <endpoint address="http://extdevwsriga56.dev.uma.gov/FileService/Service.svc"
                binding="wsHttpBinding" bindingConfiguration="HttpFileEndPoint"
                contract="UmaServices.IFileService" name="HttpFileEndPoint">
                <identity>
                    <userPrincipalName value="andrejs.mosalskis@DEV.UMA.gov" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://extdevwsriga56.dev.uma.gov/MaintenanceService/Service.svc"
                binding="netTcpBinding" bindingConfiguration="MaintenanceServiceEndPoint"
                contract="UmaServices.IMaintenanceService" name="MaintenanceServiceEndPoint" />
        </client>
    </system.serviceModel>
</configuration>