<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TargetDir" value="C:\xml" />
    <add key="FileName" value="playlist.m3u" />
    <add key="SourceUrl" value="http://{0}:8081/?cmd=playlist&amp;type=m3u" />
    <add key="Channels" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>