@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}
<div class="row">
    <div class="path-descr">
        <div>@T("Home")</div>
        <div>@T("Security")</div>
    </div>
</div>

<hgroup>
    <h1>@T("Locked out")</h1>
    <h4>@T("This account has been locked out, please try again later.")</h4>
</hgroup>
