<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AcePlayerPath" value="C:\Users\andrejs.mosalskis\AppData\Roaming\ACEStream\player\ace_player.exe"/>
    <add key="AceContentIdList" value="http://91.92.66.82/trash/ttv-list/ttv.m3u"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>