<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DPA.Db.Properties.Settings.DPAConnectionString" connectionString="Data Source=84.237.148.241\HOMESQL;Initial Catalog=DPA;Persist Security Info=True;User ID=dpa;Password=dpa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>