<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ITwoWayAsyncVoid" />
                <binding name="WSHttpBinding_ITwoWayAsyncVoid1" />
                <binding name="WSHttpBinding_ITwoWayAsyncVoid2" />
                <binding name="WSHttpBinding_ITwoWayAsyncVoid3" />
                <binding name="WSHttpBinding_ITwoWayAsyncVoid4" />
                <binding name="WSHttpBinding_ITwoWayAsyncVoid5" />
                <binding name="WSHttpBinding_ITwoWayAsync" />
                <binding name="WSHttpBinding_ITwoWayAsyncVoid6" />
                <binding name="WSHttpBinding_ITwoWayAsyncVoid7" />
                <binding name="WSHttpBinding_ITwoWayAsyncVoid8" />
                <binding name="WSHttpBinding_ITwoWayAsync1" />
                <binding name="WSHttpBinding_ITwoWayAsyncVoid9" />
                <binding name="WSHttpBinding_ITwoWayAsyncVoid10" />
                <binding name="WSHttpBinding_ITwoWayAsyncVoid11" />
                <binding name="WSHttpBinding_ITwoWayAsyncVoid12" />
                <binding name="WSHttpBinding_ITwoWayAsync2" />
                <binding name="WSHttpBinding_ITwoWayAsyncVoid13" />
                <binding name="WSHttpBinding_ITwoWayAsync3" />
                <binding name="WSHttpBinding_ITwoWayAsync4" />
                <binding name="WSHttpBinding_ITwoWayAsync5" />
                <binding name="WSHttpBinding_ITwoWayAsyncVoid14" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://bts11.dev.uma.gov/AS04_Main_UMA_VTJ/UMA_VTJ.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITwoWayAsyncVoid"
                contract="UmaIntegration.UMA_VTJ" name="WSHttpBinding_ITwoWayAsyncVoid">
                <identity>
                    <userPrincipalName value="BTSIsolatedHost@DEV.UMA.gov" />
                </identity>
            </endpoint>
            <endpoint address="http://bts11.dev.uma.gov/AS04_Main_UMA_iPost/UMA_iPostService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITwoWayAsyncVoid1"
                contract="UmaIntegration.UMA_iPostService" name="WSHttpBinding_ITwoWayAsyncVoid1">
                <identity>
                    <userPrincipalName value="BTSIsolatedHost@DEV.UMA.gov" />
                </identity>
            </endpoint>
            <endpoint address="http://bts11.dev.uma.gov/AS04_Main_UMA_TAX/UMA_Tax.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITwoWayAsyncVoid2"
                contract="UmaIntegration.UMA_Tax" name="WSHttpBinding_ITwoWayAsyncVoid2">
                <identity>
                    <userPrincipalName value="BTSIsolatedHost@DEV.UMA.gov" />
                </identity>
            </endpoint>
            <endpoint address="http://bts11.dev.uma.gov/AS04_Main_UMA_Hekopassi/UMA_Hekopassi.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITwoWayAsyncVoid3"
                contract="UmaIntegration.UMA_Hekopassi" name="WSHttpBinding_ITwoWayAsyncVoid3">
                <identity>
                    <userPrincipalName value="BTSIsolatedHost@DEV.UMA.gov" />
                </identity>
            </endpoint>
            <endpoint address="http://bts05.dev.uma.gov/UMA_VTJCitizenshipUpdate/Uma_UpdateCitizenship.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITwoWayAsyncVoid4"
                contract="UmaIntegration.Uma_UpdateCitizenship" name="WSHttpBinding_ITwoWayAsyncVoid4">
                <identity>
                    <userPrincipalName value="BTS05\svc_BTS" />
                </identity>
            </endpoint>
            <endpoint address="http://bts11.dev.uma.gov/AS04_Main_UMA_Kela/UMA_Kela.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITwoWayAsyncVoid5"
                contract="UmaIntegration.UMA_Kela" name="WSHttpBinding_ITwoWayAsyncVoid5">
                <identity>
                    <userPrincipalName value="BTSIsolatedHost@DEV.UMA.gov" />
                </identity>
            </endpoint>
            <endpoint address="http://bts11.dev.uma.gov/AS04_Main_UMA_SIS2Way/UMA_SIS2Way.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITwoWayAsync"
                contract="UmaIntegration.UMA_SIS2Way" name="WSHttpBinding_ITwoWayAsync">
                <identity>
                    <userPrincipalName value="BTSIsolatedHost@DEV.UMA.gov" />
                </identity>
            </endpoint>
            <endpoint address="http://bts11.dev.uma.gov/AS04_Main_UMA_SIS/UMA_SIS.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITwoWayAsyncVoid6"
                contract="UmaIntegration.UMA_SIS" name="WSHttpBinding_ITwoWayAsyncVoid6">
                <identity>
                    <userPrincipalName value="BTSIsolatedHost@DEV.UMA.gov" />
                </identity>
            </endpoint>
            <endpoint address="http://bts11.dev.uma.gov/AS04_Main_UMA_SMS/UMA_SMS.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITwoWayAsyncVoid7"
                contract="UmaIntegration.UMA_SMS" name="WSHttpBinding_ITwoWayAsyncVoid7">
                <identity>
                    <userPrincipalName value="BTSIsolatedHost@DEV.UMA.gov" />
                </identity>
            </endpoint>
            <endpoint address="http://bts11.dev.uma.gov/AS04_Main_UMA_Email/UMA_EmailService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITwoWayAsyncVoid8"
                contract="UmaIntegration.UMA_EmailService" name="WSHttpBinding_ITwoWayAsyncVoid8">
                <identity>
                    <userPrincipalName value="BTSIsolatedHost@DEV.UMA.gov" />
                </identity>
            </endpoint>
            <endpoint address="http://bts11.dev.uma.gov/AS04_Main_UMA_UlkonetRegCheck/UMA_UlkonetRegCheck.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITwoWayAsync1"
                contract="UmaIntegration.UMA_UlkonetRegCheck" name="WSHttpBinding_ITwoWayAsync1">
                <identity>
                    <userPrincipalName value="BTSIsolatedHost@DEV.UMA.gov" />
                </identity>
            </endpoint>
            <endpoint address="http://bts11.dev.uma.gov/AS04_Main_UMA_KelaRC/UMA_KelaRegistryCheck.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITwoWayAsyncVoid9"
                contract="UmaIntegration.UMA_KelaRegistryCheck" name="WSHttpBinding_ITwoWayAsyncVoid9">
                <identity>
                    <userPrincipalName value="BTSIsolatedHost@DEV.UMA.gov" />
                </identity>
            </endpoint>
            <endpoint address="http://bts11.dev.uma.gov/AS04_Main_UMA_CompanyInfo_Service/UMA_CompanyInfo.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITwoWayAsyncVoid10"
                contract="UmaIntegration.UMA_CompanyInfo" name="WSHttpBinding_ITwoWayAsyncVoid10">
                <identity>
                    <userPrincipalName value="BTSIsolatedHost@DEV.UMA.gov" />
                </identity>
            </endpoint>
            <endpoint address="http://bts11.dev.uma.gov/AS04_Main_UMA_PatjaRC/UMA_PatjaRC.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITwoWayAsyncVoid11"
                contract="UmaIntegration.PatjaRC.UMA_PatjaRC" name="WSHttpBinding_ITwoWayAsyncVoid11">
                <identity>
                    <userPrincipalName value="BTSIsolatedHost@DEV.UMA.gov" />
                </identity>
            </endpoint>
            <endpoint address="http://bts11.dev.uma.gov/AS04_Main_UMA_GemaltoCardOrder/UMA_GemaltoCardOrder.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITwoWayAsyncVoid12"
                contract="UmaIntegration.UMA_GemaltoCardOrder" name="WSHttpBinding_ITwoWayAsyncVoid12">
                <identity>
                    <userPrincipalName value="BTSIsolatedHost@DEV.UMA.gov" />
                </identity>
            </endpoint>
            <endpoint address="http://bts11.dev.uma.gov/AS04_Main_UMA_GemaltoCheckDeliveredCards/UMA_GemaltoCheckDeliveredCards.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITwoWayAsync2"
                contract="UmaIntegration.UMA_GemaltoCheckDeliveredCards" name="WSHttpBinding_ITwoWayAsync2">
                <identity>
                    <userPrincipalName value="BTSIsolatedHost@DEV.UMA.gov" />
                </identity>
            </endpoint>
            <endpoint address="http://bts08.dev.uma.gov/UMA_EsrvPaymentInfoService/UMA_EsrvPaymentInfoService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITwoWayAsyncVoid13"
                contract="UmaIntegration.UMA_EsrvPaymentInfoService" name="WSHttpBinding_ITwoWayAsyncVoid13">
                <identity>
                    <userPrincipalName value="BTSIsolatedHost@DEV.UMA.gov" />
                </identity>
            </endpoint>
            <endpoint address="http://bts11.dev.uma.gov/AS04_Main_HaoKhoIntegration/HaoKhoIntegration.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITwoWayAsync3"
                contract="UmaIntegration.HaoKhoIntegration" name="WSHttpBinding_ITwoWayAsync3">
                <identity>
                    <userPrincipalName value="BTSIsolatedHost@DEV.UMA.gov" />
                </identity>
            </endpoint>
            <endpoint address="http://bts11.dev.uma.gov/AS04_Main_UMA_SIS2/UMA_SIS2.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITwoWayAsync4"
                contract="UmaIntegration.SIS2.UMA_SIS2" name="WSHttpBinding_ITwoWayAsync4">
                <identity>
                    <userPrincipalName value="BTSIsolatedHost@DEV.UMA.gov" />
                </identity>
            </endpoint>
            <endpoint address="http://bts10.dev.uma.gov/Uma_VTJResidencePermitInfo/Uma_VTJResidencePermitInfo.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITwoWayAsync5"
                contract="UmaIntegration.Uma_VTJResidencePermitInfo" name="WSHttpBinding_ITwoWayAsync5">
                <identity>
                    <userPrincipalName value="BTSIsolatedHost@DEV.UMA.gov" />
                </identity>
            </endpoint>
            <endpoint address="http://bts10.dev.uma.gov/UMA_Kieku/UMA_Kieku.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITwoWayAsyncVoid14"
                contract="UmaIntegration.UMA_Kieku" name="WSHttpBinding_ITwoWayAsyncVoid14">
                <identity>
                    <userPrincipalName value="BTSIsolatedHost@DEV.UMA.gov" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>