<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @*  @Scripts.Render("~/static/style/pdfStyle")*@
    <style type="text/css">
        body {
            padding-left: 40px;
            padding-right: 40px;
        }

        table {
            width: 100%;
        }

        td {
            font-size: 16px;
            padding: 6px;
            border-style: solid;
            border-width: 1px;
            width:50%;
        }

        .text_left {
            text-align: left;
        }

        .migri-background {
            background-color: #428bca;
        }

        h1 {
            font-size: 30px;
            font-weight: bold;
            padding-top: 10px;
            padding-left:10px;
        }

        .form-name {
            text-align: center;
            font-size: 35px;
            font-weight: bold;
            padding-top: 15px;
            padding-bottom: 15px;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>

</html>
