<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="TargetDir" value="C:\TV" />
    <add key="FileName" value="TV.m3u" />
    <add key="SourceUrl" value="http://a.mosalsky.com:8081/?cmd=playlist&amp;type=m3u" />
    <add key="localIPStart" value="192.168.0." />
    <add key="IsNetPalyer" value="false" />
    <add key="MonitorStatus" value="false" />
    <add key="WriteVideoFileMonitorStatus" value="true" />
    <add key="PathToAce" value="C:\Users\dron1\AppData\Roaming\ACEStream\engine\ace_engine.exe" />
    <add key="PathToTTVProxy" value="E:\Progs\Work\Video\ttvproxy_1.4.2.5\TTVProxy_win.exe" />
    <add key="MonitorStatusChannel" value="torrent-tv.ru (Общие)" />
    <add key="IsSilent" value="true" />
    <add key="FTPServer" value="ftp://dron:pushok@a.mosalsky.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>