@model Uma.Eservices.Models.Sandbox.FileUploadModel
@{
  ViewBag.Title = "Sanbox/Uploading";
  var formId = "fileupload" + Guid.NewGuid();
}
<div class="row">
  <div class="col-md-12">
    <h1>
      File Upload control tests
      @Html.UmaButtonLink("Back", Url.RouteUrl("Default", result: MVC.Sandbox.Index()), new FontAwesomeIcon("fa-arrow-circle-o-left"), new { @class = "pull-right" })
    </h1>
  </div>
</div>

<div class="row">
    <div class="col-md-12">
        
    </div>
    
    <legend>One File Upload</legend>
    @using (Html.BeginForm(MVC.Sandbox.Actions.FileUploadOneFileTests(Model), FormMethod.Post))
    {
        @*@Html.UmaAjaxFileUpload(500000000, Url.Action(MVC.Sandbox.ActionNames.UploadFile), MVC.Shared.Views._SingleiFileUpload, null, maxNumberOfFiles: 1, minNumberOfFiles: 1, enablingIds: new List<string> { "btn1" })*@
        
        @Html.UmaButton("btn1", "Submit", UmaButtonType.FormSubmit)
    }
</div>


@section scripts
{
    @Scripts.Render("~/bundles/formjs")
}
