@{
    ViewBag.Title = "Sanbox/One Column form";
}
<style>
    .grid-col {
        min-height: 36px;
        background-color: #e9e9e9;
        border-left: 1px dashed #d1d1d1;
        border-right: 1px dashed #d1d1d1;
    }
    .row {
        padding-bottom: 10px;
    }
    .cont {
        min-height: 36px;
        padding: 0px;
        margin: 0px;
        text-align: center;
        border: 1px solid gray;
    }
</style>
<h1>This is H1 header</h1>
<p>There is a normal base font text under highest level header, so one can assess if it is nicely fitting the area or not.</p>
<h2>H2: Here goes the grid</h2>
<div class="row">
    <div class="col-sm-8 grid-col">
        <div class="cont">Full row</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 grid-col">
        <div class="cont">Half</div>
    </div>
    <div class="col-sm-4 grid-col">
        <div class="cont">Half</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-2 grid-col">
        <div class="cont">Quarter</div>
    </div>
    <div class="col-sm-2 grid-col">
        <div class="cont">Quarter</div>
    </div>
    <div class="col-sm-2 grid-col">
        <div class="cont">Quarter</div>
    </div>
    <div class="col-sm-2 grid-col">
        <div class="cont">Quarter</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-1 grid-col"><div class="cont">Eighth</div></div>
    <div class="col-sm-1 grid-col"><div class="cont">Eighth</div></div>
    <div class="col-sm-1 grid-col"><div class="cont">Eighth</div></div>
    <div class="col-sm-1 grid-col"><div class="cont">Eighth</div></div>
    <div class="col-sm-1 grid-col"><div class="cont">Eighth</div></div>
    <div class="col-sm-1 grid-col"><div class="cont">Eighth</div></div>
    <div class="col-sm-1 grid-col"><div class="cont">Eighth</div></div>
    <div class="col-sm-1 grid-col"><div class="cont">Eighth</div></div>
</div>