<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="TargetDir" value="C:\xml"/>
    <add key="FileName" value="playlist.m3u"/>
    <add key="SourceUrl" value="http://{0}:8081/?cmd=playlist&amp;type=m3u"/>
    <add key="localIPStart" value="192.168.0."/>
    <add key="IsNetPalyer" value="true"/>
    <add key="MonitorStatus" value="true" />
    <add key="WriteVideoFileMonitorStatus" value="false" />
    <add key="PathToAce" value="C:\Users\dron1\AppData\Roaming\ACEStream\engine\ace_engine.exe" />
    <add key="PathToTTVProxy" value="E:\Progs\Work\Video\ttvproxy_1.4.2.5\TTVProxy_win.exe" />
    <add key="IsSilent" value="true" />
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
