<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="TargetDir" value="C:\xml"/>
    <add key="FileName" value="playlist.m3u"/>
    <add key="SourceUrl" value="http://{0}:8081/?cmd=playlist&amp;type=m3u"/>
    <add key="localIPStart" value="192.168.0."/>
    <add key="IsNetPalyer" value="true"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
