@using Uma.Eservices.Models.OLE.Enums
@model Uma.Eservices.Models.FormCommons.AttachmentBlock
@using (Html.BeginUmaExpander("Attach proof of student registration | optional", "acordStep4", true))
{
    <div class="upload-text">
        @T("Your student registration must be from this current year of educational study. This is required when submitting permit extension application. Maximum 4 MB per single attachment.")
    </div>
    using (Html.BeginForm(MVC.OLE.Actions.UploadFile(AttachmentTypeEnum.Registration, Model.ApplicationId, null), FormMethod.Post, new { data_upload_template_id = "template-upload-5", data_download_template_id = "template-download-5" }))
    {
        @Html.UmaAjaxFileUpload(4194304, Url.Action(MVC.OLE.Actions.UploadFile(AttachmentTypeEnum.Registration, Model.ApplicationId, null)), MVC.Shared.Views._MultiFileUpload, Model, MVC.OLE.ActionNames.DeleteFile, MVC.OLE.ActionNames.DownloadFile, "template-upload-5", "template-download-5")
    }
}
