@using Uma.Eservices.Models.OLE.Enums
@model Uma.Eservices.Models.FormCommons.AttachmentBlock
@using (Html.BeginUmaExpander("Attach proof of income | required", "acordStep4", true))
{
    <div class="upload-text">
        @T("This proof of income must be at least one year recent from your enrollment year. Maximum 4 MB per single attachment.")
    </div>
    using (Html.BeginForm(MVC.OLE.Actions.UploadFile(AttachmentTypeEnum.Income, Model.ApplicationId, null), FormMethod.Post, new { id = "123", data_upload_template_id = "template-upload-2", data_download_template_id = "template-download-2" }))
    {
        @Html.UmaAjaxFileUpload(4194304, Url.Action(MVC.OLE.Actions.UploadFile(AttachmentTypeEnum.Income, Model.ApplicationId, null)), MVC.Shared.Views._MultiFileUpload, Model, MVC.OLE.ActionNames.DeleteFile, MVC.OLE.ActionNames.DownloadFile, "template-upload-2", "template-download-2")
    }
}
