<?xml version="1.0" encoding="utf-8" ?>
<!--If you change this, please cloak file (http://stackoverflow.com/a/9742947/788367)-->
<connectionStrings>
  <add name="eSrvNew" connectionString="Data Source=ESSQL01;Initial Catalog=eSrv_Andrejs;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="eServicesSessionStateStore" connectionString="Data Source=devsql03;Initial Catalog=EServices_AspStateDb;Integrated Security=True;Connect Timeout=10;Encrypt=False;Network Library=dbmssocn;Application Name=eServices" providerName="System.Data.SqlClient" />
</connectionStrings>
