<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform"
               xmlns:nlg="http://www.nlog-project.org/schemas/NLog.xsd">
  <!--<connectionStrings>
    <add name="UMA" connectionString="USER ID=Bond;Password=007;DATA SOURCE=QA;Validate Connection=true;" 
         xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)"/>
  </connectionStrings>-->
  <nlg:nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xdt:Transform="RemoveAttributes(internalLogLevel,internalLogFile)">
    <nlg:targets>
      <nlg:target name="asyncDebugWrapperTarget" xdt:Transform="Remove" xdt:Locator="Match(name)" />
    </nlg:targets>
    <nlg:rules>
      <nlg:logger xdt:Transform="RemoveAll" />
      <nlg:logger name="*" minlevel="Info" maxlevel="Fatal" writeTo="asyncEventLogWrapperTarget" xdt:Transform="Insert" />
    </nlg:rules>
  </nlg:nlog>
</configuration>