<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" requirePermission="false" />
    <section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core" />
  </configSections>

  <connectionStrings configSource="connections.config" />

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="RECaptchaPublicKey" value="6Le1oQoAAAAAAOTFAdZdjvHGUVSsYcZRIjE_UabS" />
    <add key="RECaptchaPrivateKey" value="6Le1oQoAAAAAAMnSY9jfoQR68YbB83spmQwpkllc" />
    <!--UMA Conn WCF Service URLs (endpoints)-->
    <add key="UmaConnUrl:Uma.Eservices.UmaConnContracts.IUmaMasterDataService" value="net.tcp://localhost:809/UmaMasterDataService.svc" />

    <!-- ####### VETUMA INTERFACE SETTINGS ####### -->
    <!-- All of the following settings are related to the Vetuma interface used for strong authentication and secure payments. -->
    <add key="VetumaAuthenticationUrl" value="https://testitunnistus.suomi.fi/VETUMALogin/app" />
    <add key="VetumaPaymentUrl" value="https://testitunnistus.suomi.fi/VETUMAPayment/" />
    <!-- Vetuma id for authentication/payments. -->
    <add key="VetumaAuthenticationSharedSecretId" value="TESTIASIAKAS11" />
    <add key="VetumaPaymentSharedSecretId" value="TESTIASIAKAS11" />
    <add key="VetumaPolicePaymentSharedSecretId" value="TESTIASIAKAS21" />
    <add key="VetumaAuthenticationReturnUrl" value="VetumaAuthentication.aspx?{0}={1}" />
    <!-- Vetuma SharedSecret in authentication/payment requests.-->
    <add key="VetumaAuthenticationSharedSecret" value="TESTIASIAKAS11-617DC7C1714500BB7837C0B9486B67405FC66B0687C599E2400B57F10F0E1660" />
    <add key="VetumaPaymentSharedSecret" value="TESTIASIAKAS11-873C992B8C4C01EC8355500CAA709B37EA43BC2E591ABF29FEE5EAFE4DCBFA35" />
    <add key="VetumaPolicePaymentSharedSecret" value="TESTIASIAKAS21-4034DADBABEADFC9DC1E075082D27C22F4047749AC87689B8E6B0D1AE8B85C03" />
    <!-- Vetuma ConfigurationId for authentication/payment requests. Finnish "Sovelluskonfiguraatiotunnus". -->
    <add key="VetumaAuthenticationConfigurationId" value="TESTIASIAKAS1" />
    <add key="VetumaPaymentConfigurationId" value="TESTIASIAKAS1" />
    <add key="VetumaPolicePaymentConfigurationId" value="TESTIASIAKAS2" />
    <!-- Application identifier sent to Vetuma (used in usage reporting). Should be the same in both authentication and payments. -->
    <add key="VetumaApplicationIdentifier" value="TESTIASIAKAS11" />
    <add key="VetumaPoliceApplicationIdentifier" value="TESTIASIAKAS21" />
    <add key="VetumaApplicationDisplayName" value="" />
    <!-- ####### VETUMA INTERFACE SETTINGS END ####### -->
    
  </appSettings>

  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" encoderType="System.Web.Security.AntiXss.AntiXssEncoder" maxRequestLength="2147483647" />
    <customErrors mode="On" />

    <!--TO DO: Add connection strings to "connections.config" file. -->
    <sessionState allowCustomSqlDatabase="true" mode="SQLServer" sqlConnectionString="eServicesSessionStateStore" cookieless="UseCookies" timeout="180" />
  
  </system.web>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647" />
      </requestFiltering>
    </security>
    <modules>
      <remove name="FormsAuthenticationModule" />
      <add name="UnityPerRequestModule" type="Microsoft.Practices.Unity.Mvc.UnityPerRequestHttpModule" />
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" preCondition="integratedMode" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="Glimpse" path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" preCondition="integratedMode" />
    </handlers>
    
    <!--This is needed so all HTTP requests are sent to HTTPS counterpart automatically-->
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  
  <!-- NLOG logging configuration -->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true" internalLogLevel="Debug" internalLogFile="${basedir}/NlogInternal.log">
    <extensions>
      <add assembly="NLog.Extended" />
    </extensions>
    <targets>
      <target name="asyncDebugWrapperTarget" xsi:type="AsyncWrapper" queueLimit="10000" timeToSleepBetweenBatches="50" batchSize="100" overflowAction="Block">
        <target name="debugTarget" xsi:type="Debugger" layout="${time}|${level:uppercase=true}|${logger}|${message}|${onexception:EXCEPTION: ${exception:format=shortType,method,message}}" />
      </target>
      <target name="asyncEventLogWrapperTarget" xsi:type="AsyncWrapper" queueLimit="10000" timeToSleepBetweenBatches="50" batchSize="100" overflowAction="Block">
        <target name="evtlog" xsi:type="EventLog" source="UMA eService" layout="Message: ${message}${newline}Agent: ${aspnet-request:serverVariable=HTTP_USER_AGENT}${newline}Referrer: ${aspnet-request:serverVariable=HTTP_REFERER}${newline}Request: ${aspnet-request:serverVariable=REQUEST_METHOD} ${aspnet-request:serverVariable=Url}${newline}Logger: ${logger}${newline}${onexception:===== Error information =====${newline}${exception:format=ToString:innerFormat=ToString:maxInnerExceptionLevel=2}}${newline}Stack:${newline}${stacktrace:format=Flat:topFrames=5}${newline}Context values:${newline}${event-context:item=ContextValues}" />
      </target>
    </targets>
    <rules>
      <!-- Levels: Off, Trace, Debug, Info, Warn, Error, Fatal -->
      <logger name="*" minlevel="Trace" maxlevel="Fatal" writeTo="asyncDebugWrapperTarget" />
      <logger name="*" minlevel="Info" maxlevel="Fatal" writeTo="asyncEventLogWrapperTarget" />
    </rules>
  </nlog>

  <glimpse defaultRuntimePolicy="On" endpointBaseUri="~/Glimpse.axd">
    <runtimePolicies>
      <ignoredTypes>
        <add type="Glimpse.AspNet.Policy.LocalPolicy, Glimpse.AspNet" />
      </ignoredTypes>
    </runtimePolicies>
  </glimpse>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.Identity.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>