<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform"
               xmlns:nlg="http://www.nlog-project.org/schemas/NLog.xsd">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <connectionStrings xdt:Transform="RemoveAttributes(configSource)">
    <add name="eSrvNew" connectionString="Data Source=ESSQL01;Initial Catalog=eSrv_Sys;Integrated Security=True;Connect Timeout=10;Encrypt=False;Network Library=dbmssocn;Application Name=eSrvApp" providerName="System.Data.SqlClient" xdt:Transform="Insert" />
    <add name="eServicesSessionStateStore" connectionString="Data Source=devsql03;Initial Catalog=EServices_AspStateDb;Integrated Security=True;Connect Timeout=10;Encrypt=False;Network Library=dbmssocn;Application Name=eServices" providerName="System.Data.SqlClient" xdt:Transform="Insert" />
  </connectionStrings>

  <nlg:nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xdt:Transform="RemoveAttributes(internalLogLevel,internalLogFile)">
    <nlg:targets>
      <nlg:target name="asyncDebugWrapperTarget" xdt:Transform="Remove" xdt:Locator="Match(name)" />
    </nlg:targets>
    <nlg:rules>
      <nlg:logger xdt:Transform="RemoveAll" />
      <nlg:logger name="*" minlevel="Info" maxlevel="Fatal" writeTo="asyncEventLogWrapperTarget" xdt:Transform="Insert" />
    </nlg:rules>
  </nlg:nlog>
  
  <glimpse defaultRuntimePolicy="Off" xdt:Transform="SetAttributes">
    <runtimePolicies>
      <ignoredTypes>
        <add type="Glimpse.AspNet.Policy.LocalPolicy, Glimpse.AspNet" xdt:Transform="Remove" />
      </ignoredTypes>
    </runtimePolicies>
  </glimpse>
  
</configuration>