<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AcePlayerPath" value="C:\Users\dron\AppData\Roaming\ACEStream\player\ace_player.exe"/>
    <add key="UrlToM3uList" value="tv.m3u"/> <!-- For example link to m3u will be http://localhost/tv.m3u -->
    <add key="Port" value="1983"/>
    <add key="AcePort" value="1999"/>
    <add key="AceContentIdList" value="http://super-pomoyka.us.to/trash/ttv-list/ttv.m3u" />
  </appSettings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
