<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="TargetDir" value="C:\xml"/>
    <add key="FileName" value="111.xml"/>
    <add key="SourceUrl" value="http://192.168.0.124:8081/?cmd=playlist&amp;type=m3u"/>
    <add key="Channels" value="Discovery Channel (Познавательные)
Animal Planet HD (Познавательные)
National Geographic HD (Познавательные)
Outdoor HD (Мужские)
Первый канал HD (Общие)
Спорт 1 HD (Спорт)
Спорт 1 (Спорт)
Моя планета (Познавательные)
Муз ТВ (Музыка)
Comedy TV (Развлекательные)
Discovery Science (Познавательные)
НТВ+ Спорт плюс (Спорт)
НТВ+ Спорт онлайн (Спорт)"/>
    
  </appSettings>
</configuration>