<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netMsmqBinding>
                <binding name="AsyncTasksService">
                    <security mode="None" />
                </binding>
            </netMsmqBinding>
        </bindings>
        <client>
            <endpoint address="net.msmq://localhost/private/AsyncTasksService/Service.svc"
                binding="netMsmqBinding" bindingConfiguration="AsyncTasksService"
                contract="UmaAsyncTasks.IAsyncTasksService" name="AsyncTasksService" />
        </client>
    </system.serviceModel>
</configuration>