<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TILDE.Db.Properties.Settings.TILDEConnectionString" connectionString="Data Source=84.237.148.241\HOMESQL;Initial Catalog=TILDE;Persist Security Info=True;User ID=TILDE;Password=TILDE"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>