@using Uma.Eservices.Models.OLE.Enums
@model Uma.Eservices.Models.FormCommons.AttachmentBlock
@using (Html.BeginUmaExpander("Attach proof of employment certificates | optional", "acordStep4", true))
{
    <div class="upload-text">
        @T("This is for students other than undergraduate and exchange students. Maximum 4 MB per single attachment.")
    </div>
    using (Html.BeginForm(MVC.OLE.Actions.UploadFile(AttachmentTypeEnum.EmploymentCertificates, Model.ApplicationId, null), FormMethod.Post, new { data_upload_template_id = "template-upload-7", data_download_template_id = "template-download-7" }))
    {
        @Html.UmaAjaxFileUpload(4194304, Url.Action(MVC.OLE.Actions.UploadFile(AttachmentTypeEnum.EmploymentCertificates, Model.ApplicationId, null)), MVC.Shared.Views._MultiFileUpload, Model, MVC.OLE.ActionNames.DeleteFile, MVC.OLE.ActionNames.DownloadFile, "template-upload-7", "template-download-7")
    }
}
