@using Uma.Eservices.Models.OLE.Enums
@model Uma.Eservices.Models.FormCommons.AttachmentBlock
@using (Html.BeginUmaExpander("Attach refusal of entry | optional", "acordStep4", true))
{
    <div class="upload-text">
        @T("If you have been subject to a refusal of entry into the Schengen territory, please provide the actual refusal of entry form. Maximum 4 MB per single attachment.")
    </div>
    using (Html.BeginForm(MVC.OLE.Actions.UploadFile(AttachmentTypeEnum.Refusal, Model.ApplicationId, null), FormMethod.Post, new { data_upload_template_id = "template-upload-8", data_download_template_id = "template-download-8" }))
    {
        @Html.UmaAjaxFileUpload(4194304, Url.Action(MVC.OLE.Actions.UploadFile(AttachmentTypeEnum.Refusal, Model.ApplicationId, null)), MVC.Shared.Views._MultiFileUpload, Model, MVC.OLE.ActionNames.DeleteFile, MVC.OLE.ActionNames.DownloadFile, "template-upload-8", "template-download-8")
    }
}
