<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dropzone" version="4.2.0" targetFramework="net48" />
  <package id="DropzoneMvc" version="1.5.0" targetFramework="net48" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="jQuery" version="1.8.2" targetFramework="net45" />
  <package id="jQuery.UI.Combined" version="1.8.24" targetFramework="net45" />
  <package id="jQuery.Validation" version="1.10.0" targetFramework="net45" />
  <package id="knockoutjs" version="2.2.0" targetFramework="net45" />
  <package id="log4net" version="3.0.3" targetFramework="net48" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc.FixedDisplayModes" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="4.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.OData" version="4.0.30506" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="4.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.Data" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages.OAuth" version="2.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.WebData" version="2.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net40" requireReinstallation="true" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40" />
  <package id="Microsoft.Data.Edm" version="5.2.0" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.2.0" targetFramework="net45" />
  <package id="Microsoft.jQuery.Unobtrusive.Ajax" version="2.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="2.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net40" requireReinstallation="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Modernizr" version="2.6.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
  <package id="System.AppContext" version="4.1.0" targetFramework="net48" />
  <package id="System.Collections.NonGeneric" version="4.0.1" targetFramework="net48" />
  <package id="System.Console" version="4.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net48" />
  <package id="System.Diagnostics.Process" version="4.1.0" targetFramework="net48" />
  <package id="System.Diagnostics.StackTrace" version="4.0.1" targetFramework="net48" />
  <package id="System.Diagnostics.TraceSource" version="4.0.0" targetFramework="net48" />
  <package id="System.IO.FileSystem" version="4.0.1" targetFramework="net48" />
  <package id="System.IO.FileSystem.Primitives" version="4.0.1" targetFramework="net48" />
  <package id="System.IO.FileSystem.Watcher" version="4.0.0" targetFramework="net48" />
  <package id="System.Linq" version="4.1.0" targetFramework="net48" />
  <package id="System.Net.NameResolution" version="4.0.0" targetFramework="net48" />
  <package id="System.Net.Requests" version="4.0.11" targetFramework="net48" />
  <package id="System.Net.Sockets" version="4.1.0" targetFramework="net48" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net48" />
  <package id="System.Reflection.Extensions" version="4.0.1" targetFramework="net48" />
  <package id="System.Reflection.TypeExtensions" version="4.1.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net48" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices" version="4.1.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net48" />
  <package id="System.Runtime.Serialization.Formatters" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Spatial" version="5.2.0" targetFramework="net45" />
  <package id="System.Text.RegularExpressions" version="4.1.0" targetFramework="net48" />
  <package id="System.Threading" version="4.0.11" targetFramework="net48" />
  <package id="System.Threading.Thread" version="4.0.0" targetFramework="net48" />
  <package id="System.Threading.Timer" version="4.0.1" targetFramework="net48" />
  <package id="System.Xml.ReaderWriter" version="4.0.11" targetFramework="net48" />
  <package id="System.Xml.XmlDocument" version="4.0.1" targetFramework="net48" />
  <package id="WebGrease" version="1.3.0" targetFramework="net45" />
  <package id="WebMatrix.Data" version="2.0.30506.0" targetFramework="net40" />
</packages>