<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="UMA" connectionString="USER ID=UMA;Password=Umatest007;DATA SOURCE=UMA;Validate Connection=true;" providerName="Oracle.DataAccess.Client" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
    <netTcpBinding>
      <binding name="netTcpBinding" receiveTimeout="00:05:00" listenBacklog="1000" maxBufferPoolSize="131072" maxBufferSize="1073741824" maxConnections="500" maxReceivedMessageSize="1073741824">
        <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        <security mode="None" />
      </binding>
    </netTcpBinding>
    </bindings>
    <services>
      <service name="Uma.Eservices.UmaConnWcf.UmaMasterDataService" behaviorConfiguration="eSrvBehavior">
        <endpoint address="" binding="netTcpBinding" contract="Uma.Eservices.UmaConnContracts.IUmaMasterDataService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="eSrvBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
  <nlog throwExceptions="true" internalLogLevel="Debug" internalLogFile="${basedir}/NlogInternal.log" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="NLog.Extended" />
    </extensions>
    <targets>
      <target name="asyncDebugWrapperTarget" xsi:type="AsyncWrapper" queueLimit="10000" timeToSleepBetweenBatches="50" batchSize="100" overflowAction="Block">
        <target name="debugTarget" xsi:type="Debugger" layout="${time}|${level:uppercase=true}|${logger}|${message}|${onexception:EXCEPTION: ${exception:format=shortType,method,message}}" />
      </target>
      <target name="asyncEventLogWrapperTarget" xsi:type="AsyncWrapper" queueLimit="10000" timeToSleepBetweenBatches="50" batchSize="100" overflowAction="Block">
        <target name="evtlog" xsi:type="EventLog" source="UMA eService UmaConnWcf" layout="Message: ${message}${newline}Logger: ${logger}${newline}${onexception:===== Error information =====${newline}${exception:format=ToString:innerFormat=ToString:maxInnerExceptionLevel=2}}${newline}Stack:${newline}${stacktrace:format=Flat:topFrames=5}${newline}Context values:${newline}${event-context:item=ContextValues}" />
      </target>
    </targets>
    <rules>
      <!-- Levels: Off, Trace, Debug, Info, Warn, Error, Fatal -->
      <logger name="*" minlevel="Trace" maxlevel="Fatal" writeTo="asyncDebugWrapperTarget" />
      <logger name="*" minlevel="Info" maxlevel="Fatal" writeTo="asyncEventLogWrapperTarget" />
    </rules>
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>