@model Uma.Eservices.Models.OLE.OLEOPIAdditionalInformationBlock

<table class="width_full">
    <tr>
        <td>
            @Html.UmaPdfLabelFor(m => m.AdditionalInformation)
    </td>
        <td>
            @Model.AdditionalInformation
        </td>
    </tr>
</table>