@model Uma.Eservices.Models.FormCommons.PersonName

<tr>
    <td>
        @Html.UmaPdfLabelFor(m => m.LastName)
    </td>

    <td>
        @Model.LastName
    </td>
</tr>

<tr>
    <td>
        @Html.UmaPdfLabelFor(m => m.FirstName)
    </td>

    <td>
        @Model.FirstName
    </td>
</tr>
