@model Uma.Eservices.Models.OLE.OLEPreviousCitizenship
           
<tr>
    <td>
        @Html.UmaPdfLabelFor(m => m.PreviousCitizenship)
    </td>
    <td>
        @Html.GetState(@Model.PreviousCitizenship)
    </td>
</tr>
